-- Remove workspace features from chats table
ALTER TABLE "chats" DROP COLUMN IF EXISTS "workspace_id" CASCADE;
ALTER TABLE "chats" DROP COLUMN IF EXISTS "visibility" CASCADE;

-- Drop the workspace tables and cascade to drop any dependent RLS policies
DROP TABLE IF EXISTS "workspace_members" CASCADE;
DROP TABLE IF EXISTS "workspaces" CASCADE;
